#last1{
    animation-name: anime;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
#last2{
    animation-name: anime;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(-1600px);
    }
}
